html,
body,
#root {
  margin: 0;
  height: 100%;
  color: #3f3d56;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
  #root {
    display: block;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #04a6f4;
}

/* Dropdown Button */
.dropbtn {
  border-radius: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #E5E5EA;
  max-width: 315px;
  background-color: white;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  color: #3F3D56;
  outline: 0;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 200;
  line-height: 18px;
  letter-spacing: 0.38px;
  background-color: transparent;
} 

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

#react-confirm-alert div.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.7) !important;
}
